body {
    font-family: Arial, sans-serif;
    
font-family: 'Kanit', sans-serif;
    /*background-color: #f4f4f4;*/
    
   background-color: #eafef4;
    display: flex;
    flex-direction: column;
     
}
.tabs {
    display: flex;
    margin-bottom: 5px;
}
h1{font-family: 'ADLaM Display', cursive;}
h1,h2,h4{margin:0;}
.tab-button {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: hsl(0, 3%, 78%);
    margin-right: 5px;
    transition: background-color .3s;
    border: solid 2px #000000;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color:#FC79A5;
}

.tool-content {
    display: none;
}

.tool-content.active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
padding-bottom: 30px;
    
}
.tool-content.active h1{display: block;}

/* TOOL 1 */
.container {box-sizing: border-box;
    width: 450px;max-height: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border: 2px solid black;
    margin-top: 2%;
    overflow:hidden ;
   
}

.border-style{ margin-bottom: 10px;}

.border-style,.border-slider,.slider, .colorPicker {
    margin-top: 10px;
}

.shadowSet {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px 0;
}

.value {
    margin-left: 10px;
}

.preview-box {
    width: 400PX;
    height: 100px;
    box-sizing: border-box; 
  background-color: white;
    margin: 10% 5%;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    }
    button{margin-top: 10px;font-size: 30px;
    }

.preview-box button{position: relative;top:20%}
.preview-box button {
    background-color: #65b0e2;
    color: #ffffff;
    border-radius: 12px;
    border: 5px solid #2980b9;
    font-size: 21px;
    padding: 10 20;
    cursor: pointer;
    transition: background-color 0.3s;}
.preview-box button:hover {
    background-color: #7FCAFC;
}
textarea {
    width: 100%;
}



/* TOOL 3 */
.btn-divs,.br-divs{padding: 10px;margin-top: 2px;}
#br-preview{width:200px;height: 200px;background-color: #F4EE6C;
    box-sizing: border-box;
      margin: 10% 15%;      
      text-align: center;}


/*footer element */
footer {
    background-color: #78fcb6;
    color: #000000;
    border-top: 2px solid black;
    padding: 4px;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;left: 0;
    width: 100%;
     
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 30px;  /* Spacing between items */
}

.footer-container a {
    display: flex;
    align-items: center;
    color: rgb(1, 1, 1);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-container a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

